<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hcven.community.mapper.PostMapper">
  <resultMap id="BaseResultMap" type="com.hcven.community.data.Post">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="unVisible" jdbcType="VARCHAR" property="unVisible" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="images" jdbcType="VARCHAR" property="images" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="location" jdbcType="VARCHAR" property="location" />
  </resultMap>
  <sql id="Base_Column_List">
    id, date, username, unVisible, content, images, status, location
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from post
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="listPost" resultMap="BaseResultMap" parameterType="HashMap">
    select
    <include refid="Base_Column_List" />
    from post
    where 1=1
    <if test="status != null">
      and status = #{status,jdbcType=BIGINT}
    </if>
    <if test="username != null">
      and username = #{username,jdbcType=VARCHAR}
    </if>
    order by `id` desc
    limit #{start,jdbcType=BIGINT}, #{count,jdbcType=INTEGER}
  </select>
  <select id="countPost" resultType="Integer">
    select count(id)
    from post
    where 1=1
    <if test="status != null">
      and status = #{status,jdbcType=BIGINT}
    </if>
    <if test="username != null">
      and username = #{username,jdbcType=VARCHAR}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from post
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hcven.community.data.Post" useGeneratedKeys="true" keyProperty="id">
    insert into post (id, date, username,
      unVisible, content, images,
      status, location)
    values (#{id,jdbcType=BIGINT}, #{date,jdbcType=TIMESTAMP}, #{username,jdbcType=VARCHAR},
      #{unVisible,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{images,jdbcType=VARCHAR},
      #{status,jdbcType=INTEGER}, #{location,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hcven.community.data.Post">
    insert into post
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="unVisible != null">
        unVisible,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="images != null">
        images,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="location != null">
        location
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="date != null">
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="unVisible != null">
        #{unVisible,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="images != null">
        #{images,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hcven.community.data.Post">
    update post
    <set>
      <if test="date != null">
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=BIGINT},
      </if>
      <if test="unVisible != null">
        unVisible = #{unVisible,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="images != null">
        images = #{images,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="location != null">
        location = #{location,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hcven.community.data.Post">
    update post
    set date = #{date,jdbcType=TIMESTAMP},
      username = #{username,jdbcType=VARCHAR},
      unVisible = #{unVisible,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      images = #{images,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      location = #{location,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>