<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hcven.community.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.hcven.community.data.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="phoneNumber" jdbcType="BIGINT" property="phoneNumber" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="followers" jdbcType="VARCHAR" property="followers" />
    <result column="following" jdbcType="VARCHAR" property="following" />
  </resultMap>
  <sql id="Base_Column_List">
    id, phoneNumber, nickname, password, status, followers, following
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hcven.community.data.User">
    insert into user (id, phoneNumber, nickname, 
      password, status, followers, 
      following)
    values (#{id,jdbcType=BIGINT}, #{phoneNumber,jdbcType=BIGINT}, #{nickname,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{followers,jdbcType=VARCHAR}, 
      #{following,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hcven.community.data.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="phoneNumber != null">
        phoneNumber,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="followers != null">
        followers,
      </if>
      <if test="following != null">
        following,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="phoneNumber != null">
        #{phoneNumber,jdbcType=BIGINT},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="followers != null">
        #{followers,jdbcType=VARCHAR},
      </if>
      <if test="following != null">
        #{following,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hcven.community.data.User">
    update user
    <set>
      <if test="phoneNumber != null">
        phoneNumber = #{phoneNumber,jdbcType=BIGINT},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="followers != null">
        followers = #{followers,jdbcType=VARCHAR},
      </if>
      <if test="following != null">
        following = #{following,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hcven.community.data.User">
    update user
    set phoneNumber = #{phoneNumber,jdbcType=BIGINT},
      nickname = #{nickname,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      followers = #{followers,jdbcType=VARCHAR},
      following = #{following,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="checkEmailExists" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(id) from `user` where `email` = #{email}
  </select>
</mapper>